html, body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

canvas {
    width: 900px;
    height: 600px;
    border: 1px solid black;
    background: blue;
}